* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(30, 23, 47);
  display: flex;
  height: 68px;
  justify-content: space-between;
  color: #fff;
  width: 100%;
}





header ul {
  justify-content: center;
  display: flex;
  width: 50%;
  justify-items: center;
  height: 100%;
color: wheat;
}


header ul li {
  list-style: none;
  width: 90%;
 
  

}

header ul li a {
  text-decoration: none;
  color: #ffff;
 display: flex;
top: 20px;
  font-size: 20px;
  position: relative;
}




.bt1 {
  
  height: 50px;
  background: linear-gradient(100deg, rgb(158, 23, 189), rgb(42, 143, 226));
  padding: 14px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  border: none;
  position: relative;
  top: 3px;
    }
  

.todo {
  height: 44pc;
  background-image: url(../images/hojasFondo.jpg);
}

.nd {
  background-color: rgb(48, 20, 75);
  display: flex;
  height: 702px;
  width: 950px;
  align-content: stretch;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nd p {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 570px;
  top: 10px;
  left: 9pc;
  font-size: 24px;
}

.nd h1 {
  font-size: 80px;
}

.nd img {
  position: absolute;
  top: 13pc;
  height: 530px;
  left: 1100px;
}

.contenedor {
  position: relative;
  top: 5pc;
  right: 1.8pc;
  border: 2px solid rgb(131, 121, 121);
  border-radius: 4px;
  padding: 3px;
  left: 81px;
}

button {
  margin: 5px;
}

.boton-blanco {
  background-color: rgb(255, 255, 255);
  color: rgb(241, 32, 207);
  height: 50px;
  width: 190px;
  font-size: 20px;
  border-radius: 4px;
}

.boton-normal {
  background-color: rgb(48, 20, 75);
  color: white;
  height: 50px;
  width: 160px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 4px;
}

.centro h1 {
  height: 15vh;
  width: 100%;
  text-align: center;
  color: rgb(228, 24, 160);
  margin-top: 40px;
}

#titulo {
  font-size: 60px;
}

.contenedor1 img {
  width: 500px;
  height: 350px;
}

.contenedor1 {
  display: flex;
  justify-content: space-around;
  padding-left: 400px;
}

.contenedor2 {
  display: flex;
  flex-direction: column;
  align-content: baseline;
  padding-right: 400px;
}
.contenedor2 h2 {
  position: relative;
  color: #ee3293;
  top: 0.7pc;
}

#titulo2 {
  font-size: 30px;
  position: relative;
  top: -46px;
}

.contenedor2 ul li {
  list-style: none;
}

.contenedor3 {
  position: relative;
  top: -58px;
}

.material-symbols-outlined {
  color: #ee3293;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.abajo {
  margin-top: 60px;
  text-align: center;
  background-color: #20142c;
  display: flex;
  flex-direction: column;
}
.plan h1 {
  font-size: 50px;
  color: #fff;
  padding: 20px;
}

.blanco {
  color: #b9b2b2;
 
  position: relative;
  top: 60px;
}
.bn{
  color: white;
  font-size: 50px;
  position: relative;
  top: 40px;
}

.medio {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  height: 800px;
  position: relative;
  right: -4px;
}

.toddoo {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  height: 600px;
  width: 250px;
  border-radius: 20px;
}
.pink{
    color: #ee3293;
    
}
.black{
    color: #20142c;
   
    
}
.sms{
height: 24px;
position: relative;
top: 28px;
}

.acomodarr{
  height: 24px;
  width: 330px;
  position: relative;
  top: 0px;
}
.cuadro{
    font-size:40px;

}

.denntro{
    height:90px ;
    width: 100%;
    background-color: rgb(240, 238, 238);
    display: flex;
    justify-content: space-evenly;
    color: black;
    margin: 10px;
    
}
.denntro h2 {
    position: relative;
    top: 20px;
    left: 30px;
}
.acomodar{
    position: relative;
    top: 25px;
    right: 20px;
}
.icon-list {
    color:#ee3293;
    list-style: none;
    display: flex;
    
}
.ngr{
    color: black;
    position:relative;
    left:10px ;
}
.fa-times{
    color: rgb(247, 26, 63);
    position: relative;
    left: -15px;
}
.fondo{
    background-color: rgb(240, 238, 238);
    width: 100%;
    border-radius: 1px;
    height: 53px;
}
.b1{
    border-radius: 5px;
    width: 55%;
    height:40px;
   background-color: #ee3293;
   color: #fff;
   border: none;
}
.b2{
    border-radius: 5px;
    width: 55%;
    height:40px;
    background-color:rgb(48, 20, 75);
    color: #fff;
    border: none;
}
.ngg{
    color: black;
    padding-bottom: 10px;
}





footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.texto{
  display: flex;
}

.rosa {
  color: #ee3293;
}

footer img {
  position: relative;
  left: 600px;
}

@media(max-width:1400px){
  .acomodarr {
    height: 24px;
   
    position: relative;
    top: -76px;
}
.contenedor2 h2 {
  position: relative;
  color: #ee3293;
  top: -36px;
}
.sms{
  top: 5px;
}
}
@media(max-width:1279px){
  
  .img5{
    display: none;
  }
  .nd{
    width: 100%;
  }
  .acomodarr{
    position: relative;
    top:-56px ;
  }
  .contenedor2 h2 {
    position: relative;
    
    top: -45px;
  }
  .sms {
  
    position: relative;
    top: -20px;
}
.contenedor{
  left: 28px;
  position: relative;
}
}

@media(max-width:920px){
  header {
   
    justify-content: space-around;
   
}
.nd h1{
  text-align: center;
}
.nd p{
  left: 58px;
}
.contenedor{
  left: 1px;
  position: relative;
}
#titulo2 {
  right:49px;
  top: -13px;
}
.acomodarr{
  right: 50px;
  top: -25px;
}
.contenedor2 h2 {
  position: relative;
  top: 0px;
  right: 26px;
}
.sms{
  right: 38px;
  top: 20px;
}
.contenedor1 img {
  width: 447px;
  height: 330px;}
  .toddoo {
    width: 226px;
}}

  @media(max-width:768px){
    .nd{
      width: 100%;
    }
    .abajo{
      width: 100%;
    }
    .contenedor1 img{
      display: none;

    }
.nd p{
  font-size: 20px;
  text-align: center;
}

header ul li a {
 top: 81px;
 right: 102px;
 padding:10px;
}
header ul  {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
 
  

}
.bt1{
  top: 73px;
    right: 66px;
}
.img6{
 position: relative;
  left: 209px;
  height: 66px;
}
#titulo2{
  left: 1px;
}
.acomodarr{
  right: -2px;
}
.contenedor2 h2{
  left: 52px;
}
.sms{
  top: 28px;
    left: 63px
}
.toddoo{
  width: 140px;
}
.acomodar{
  top: 5px;
  left: 6px;
}
  }
  @media(max-width:480px){
    .bt1 {
      top: 144px;
    right: 257px;
  }
  header ul li a {
    top: 81px;
    right: 72px;
    padding: 10px;
}
.contenedor{
  left: 79px;
  border: none;
}
.bt1{
  display: none;
}
#titulo{
  font-size: 40px;
}
#titulo2 {
  left: -24px;}
  .acomodarr {
    right: 14px;
}
.contenedor2 h2 {
  left: 28px;
}
.sms {
  top: 28px;
  left: -28px;
}
.toddoo {
  width: 106px;
}
.nd p {
  font-size: 15px;
  text-align: center;

  left: 121px;
}
.boton-normal{
  right: -17px;
  position: relative;
}
  }




